* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body, main{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 2.2em;
    letter-spacing: .25em;
    margin-bottom: 3px;
    margin-top: 3px;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 0.75em;
    font-weight: lighter;
    letter-spacing: .25em;
}
.wght--normal {
    font-weight: normal;
}

.ticket {
    display: grid;
    grid-template-rows: 2fr 8fr 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    background-image: url(./assets/festival.png);
    background-position: -400px;
    background-size: 1220px;
}

.ticket > * {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ticket__header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5em 1em;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.ticket__qr {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    mix-blend-mode: multiply;
}

.ticket__date {
    grid-column: 1/2;
    grid-row: 3/4;
}

.ticket__admit {
    grid-column: 2/3;
    grid-row: 3/4;
}

.ticket__price {
    grid-column: 1/-1;
    grid-row: 4/5;
}

.ticket__included {
    display: none;
}

.darkmode {
    display: none;
}

@media(min-width: 920px) {
    h1 {
        margin: 6px;
        font-size: 4em;
    }

    .ticket {
        padding: 10px;
        margin: 20px;
        grid-template-rows: 9fr 3fr 2fr;
        grid-template-columns: repeat(4, 1fr);
    }

    .ticket__header {
        background-color: initial;
        color: black;
        border: solid black 1px;
        grid-column: 1/4;
        grid-row: 1/2;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .ticket__qr {
        padding: 55px;
        grid-column: 4/5;
        grid-row: 1/-1;
    }

    .ticket__date {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .ticket__admit {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .ticket__price {
        grid-column:  3/4;
        grid-row: 2/3;
    }

    .ticket__included {
        display: flex;
        grid-column: 1/4;
        grid-row: 3/4;
        font-size: .8em;
    }
}

@media (prefers-color-scheme: dark) {

    .ticket {
        background-image: url(./assets/festival--dark.png);
    }

    .ticket, .ticket * {
        color: white;
        border-color: white;
    }

    .ticket__qr {
        border-color: white;
        mix-blend-mode: normal;
    }

    .darkmode {
        display: initial;
    }

    .lightmode {
        display: none;
    }
}