body{
    font-family: sans-serif;
    padding: 0.5em;
}

.cards {
    display: grid;
    gap: 1em;
}

.card {
    background-color: #E22959;
    padding: 1em;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.card--broken {
    background-color: #80FDF2;
}

.card--infinity {
    background-color: #FCFB00;
}

@media(min-width: 400px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 750px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .card--broken {
        height: auto;
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .card--infinity {
        height: auto;
        grid-column: 4/6;
        grid-row: 2/4;
    }
}